@using Tienda_Restaurante.DTOs
@model PlatilloDTO
@{
    Layout = "_Layout";
}
<div style="width:50%">
    <h2>Añadir Platillo</h2>
    <a asp-action="Platillo" asp-controller="Platillo" class="btn btn-secondary">Volver</a>
    <form asp-action="AddPlatillo" enctype="multipart/form-data">

        <div class="my-2">
            <label>Platillo*</label>
            <input type="text" class="form-control" asp-for="PlatilloName" />
            <span asp-validation-for="PlatilloName" class="text-danger"></span>
        </div>


        <div class="my-2">
            <label>Categoria*</label>
            <select class="form-control" asp-for="CategoriaId" asp-items="Model.CategoriaList">
                <option value="">Seleccionar Categoria</option>
            </select>
            <span asp-validation-for="CategoriaId" class="text-danger"></span>
        </div>

        <div class="my-2">
            <label>Precio*</label>
            <input type="number" class="form-control" asp-for="Precio" />
            <span asp-validation-for="Precio" class="text-danger"></span>
        </div>

        <div class="my-2">
            <label>Imagen</label>
            <input type="file" class="form-control" asp-for="ImageFile" />
        </div>

        <div class="my-2">
            <button type="submit" class="btn btn-info">Añadir</button>
        </div>
    </form>
</div>
