@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #fc7f09;
    --primary-color-light: #fffcfa;
    --primary-color-dark: #db6e09;
    --text-dark: #18181b;
    --text-light: #6b7280;
    --text-primary: #fc7f09;
    --white: #ffffff;
    --max-width: 1200px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    padding-top: 110px; /* Espacio entre nav y contenido de la pagina */
    margin-top: 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
}

    .logo span {
        color: var(--text-dark);
    }


.container-fluid .btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: var(--white) !important;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

    .container-fluid .btn-primary:hover {
        background-color: var(--primary-color-dark) !important;
        border-color: var(--primary-color-dark) !important;
    }

/* Navbar */
nav.nav_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: white;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    z-index: 99;
}


.nav_links {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 30px;
}


    .nav_links li a {
        color: black;
        font-weight: bold;
        text-decoration: none;
        font-size: 1rem;
        padding: 2rem 0;
    }

        .nav_links li a:hover {
            color: var(--primary-color);
        }

.d-flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

nav.navbar {
    padding-top: 1.5rem; /* Reducir el relleno superior */
    padding-bottom: 1rem; /* Reducir el relleno inferior */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}


/* Header Section */
.section_container {
    max-width: var(--max-width);
    margin: auto;
    padding: 3rem 1rem 2rem 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 8rem;
    align-items: center;
}

.header_image img {
    width: 80%;
    max-width: 400px;
    object-fit: cover;
    margin-left: auto;
    border-radius: 18px;
}

.header_content h1 {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--text-dark);
}

    .header_content h1 span {
        color: var(--primary-color);
    }

.section_description {
    color: var(--text-light);
    margin: 1rem 0 2rem 0;
}

/*Filtrar y resetear*/
.btn {
    padding: 1rem 1rem;
    border: none;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--white);
    cursor: pointer;
    font-weight: 600;
    min-width: 80px;
}

    .btn:hover {
        background-color: var(--primary-color-dark);
    }

/* Cards */
.d-flex.flex-wrap {
    justify-content: center;
    gap: 15px;
}

.card {
    width: 280px;
    min-height: 380px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    }


.card-img-top {
    height: 170px !important;
    object-fit: cover;
}

.card-body {
    padding: 1rem;
    flex-grow: 1;
}

.card-title {
    font-size: 1.15rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-body p {
    font-size: 0.85rem;
    line-height: 1.3;
    margin-bottom: 0.7rem; 
}

.descripcion-plato {
    height: 58px;
    overflow: hidden;
    margin-bottom: 1rem;
}

.card-footer {
    flex-shrink: 0;
    padding: 0.5rem 1rem 1rem 1rem; 
    background-color: transparent !important; 
}


.btn-primary {
    font-size: 0.9rem;
    padding: 0.5rem 0.75rem; 
    width: 100%;
    margin-top: 0; 
}


.table-hover tbody tr:hover {
    background-color: #f5f5f5 !important;
    cursor: pointer;
}

.table tbody td:nth-child(5) {
    font-weight: 600; 
    color: var(--primary-color); 
}

.table tbody tr td {
    vertical-align: middle; 
}

.table .btn-sm {
    padding: 0.3rem 0.6rem;
    font-size: 0.8rem;
    margin-right: 5px; 
}